Flask
byaldi
torch
torchvision
google-generativeai
openai
docx2pdf
qwen-vl-utils
vllm>=0.6.1.post1; sys_platform != 'darwin'
mistral_common[opencv]
einops
mistral_inference
groq
markdown
hf_transfer
ollama